:root {
	--color-primary-500: #0c0c0c;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: var(--color-primary-500);
}

.grid {
	display: grid;
	padding: 2rem;
	max-width: 990px;
}

.cards {
	min-height: 100vh;
	grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
	gap: 0.5rem;
	margin: 0 auto;
	place-content: center;
}

.cards:hover .card::after {
	opacity: 1;
}

.card {
	--mouse-x: 0px;
	--mouse-y: 0px;
	cursor: pointer;
	width: 100%;
	height: 260px;
	border-radius: 1rem;
	position: relative;
	background-color: rgba(255, 255, 255, 0.1);
}

.card:hover::before {
	opacity: 1;
}

.card::before,
.card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 300ms;
}

.card::before {
	border-radius: inherit;
	background-image: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.06),
		transparent 40%
	);
	z-index: 3;
}

.card::after {
	z-index: 1;
	border-radius: inherit;
	background-image: radial-gradient(
		400px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.3),
		transparent 40%
	);
}

.card-content {
	border-radius: inherit;
	background-color: var(--color-primary-500);
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	position: relative;
	z-index: 2;
	margin: 1px;
}
